.squares {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
}

.squares__box {
    display: flex;
    justify-content: space-between;
    width: 468px;
    height: 160px;
    background-color: orange;
    padding: 10px;
}


.squares__box--left {
    justify-content: flex-start;
    align-items: flex-end;
    gap: 12px;
}

.squares__box--center {
    justify-content: center;
    align-items: center;
      gap: 12px;
}

.squares__box--right {
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

.squares__box--spread {
    justify-content: space-between;
    align-items: center;
}

.squares__square {
    width: 78px;
    height: 78px;
    background-color: darkred;
}


.squares__square--tall {
    height: 120px;
}

.squares__square--top {
    align-self: flex-start;
}

.squares__square--center {
    align-self: flex-start;
}

.squares__square--bottom {
    align-self: flex-end;
}

.squares__square--wide {
    width: 156px;
}

body {
    background-color: darkred;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.squares {
    width: 956px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
}